{% extends "base.html" %}

{% block body %}
<div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">

	<form action="#">
		<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
		  <input type="checkbox" id="switch-1" class="mdl-switch__input" checked />
		  <span class="mdl-switch__label"></span>
		</label>
	
		
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
	    <input class="mdl-textfield__input" type="text" id="sample3" />
	    <label class="mdl-textfield__label" for="sample3">Nome</label>
	  </div>
	  
	  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
	  <button id="demo-menu-lower-left"
	          class="mdl-button mdl-js-button mdl-button--icon">
	    <i class="material-icons">more_vert</i>
	  </button>

	  <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
	      for="demo-menu-lower-left">
	    <li class="mdl-menu__item">Some Action</li>
	    <li class="mdl-menu__item">Another Action</li>
	    <li disabled class="mdl-menu__item">Disabled Action</li>
	    <li class="mdl-menu__item">Yet Another Action</li>
	  </ul>
      </div>
	  
	    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
	      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4" />
	      <label class="mdl-textfield__label" for="sample4">Quantidade</label>
	      <span class="mdl-textfield__error">Não é um número</span>
	    </div>
	  
	</form>
	
</div>
{% endblock %}
