{% extends "base.html" %}

{% block breadcrumbs %}

    <div id="breadcrumbs-wrapper" class=" grey lighten-3">
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l12">
                    <ol class="breadcrumb">
                        <li><a href="">CRM</a></li>
                        <li class="active">Clientes</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block conteudo %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <h4 class="header2">Clientes</h4>

                <table class="hoverable">
                    <thead>
                    <tr>
                        <th data-field="id">Nome</th>
                        <th data-field="name">Sobrenome</th>
                        <th data-field="price">E-mail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Alvin</td>
                        <td>Eclair</td>
                        <td>$0.87</td>
                    </tr>
                    <tr>
                        <td>Alan</td>
                        <td>Jellybean</td>
                        <td>$3.76</td>
                    </tr>
                    <tr>
                        <td>Jonathan</td>
                        <td>Lollipop</td>
                        <td>$7.00</td>
                    </tr>
                    <tr>
                        <td>Shannon</td>
                        <td>KitKat</td>
                        <td>$9.99</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large waves-effect waves-light red" href="{{ url_for('novo_cliente') }}">
            <i class="material-icons">add</i>
        </a>
    </div>

{% endblock %}
