<script src="{{ url_for('static', filename='plugins/jquery/jquery-2.1.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/pace-master/pace.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-blockui/jquery.blockui.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/jquery-slimscroll/jquery.slimscroll.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/switchery/switchery.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/uniform/jquery.uniform.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/offcanvasmenueffects/js/classie.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/offcanvasmenueffects/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/waves/waves.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/3d-bold-navigation/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/summernote-master/summernote.min.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
<script src="{{ url_for('static', filename='plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js') }}"></script>
<script src="{{ url_for('static', filename='js/modern.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/pages/form-elements.js') }}"></script>